/**
 * To override the default Theme-Style.
 */
.fantasy{
  .bg-surface{
    --v-theme-overlay-multiplier: var(--v-theme-surface-overlay-multiplier);
    color: rgb(var(--v-theme-on-surface));
    background-color: rgba(var(--v-theme-surface), 0.82);;
  }
  // Preference page.
  #preferences{
    // Make headline transparent.
    .back-home:hover {
      background: rgba(var(--v-theme-secondary), var(--v-activated-opacity));
    }
    h1.prefer-headline{
      text-shadow: 2px 2px 4px grey;
      background-image:linear-gradient(62deg, 
        rgba(var(--v-theme-quaternary), 0.6) 0%, 
        rgba(var(--v-theme-primary), 0.6) 20%, 
        rgba(var(--v-theme-secondary), 0.6) 80%, 
        rgba(var(--v-theme-tertiary), 0.6) 100%
      );
      &::after{
        display: inline-block;
        padding: 0.125em 0.5em;
        background-color: rgba(#fff, 0.6);
        border-radius: var(--v-layer-md-radius);
      }
    }
  }
  // Fix custom player background unexpected transparent on webfull.
  #lzyplayer{
    #dlplayer{
      &.dlp-fulled{
        .dlp-video-wrap{
          background: #000!important;
        }
      }
    }
  }
  .mobile-token{
    #preferences{
    // Make headline transparent.
      .back-home{
        background: rgba(var(--v-theme-secondary), var(--v-activated-opacity));
      }
    }
  }
}