@font-face {
  font-family: "iconfont"; /* Project id 2776884 */
  src: url('iconfont.woff2?t=1630297414328') format('woff2'),
       url('iconfont.woff?t=1630297414328') format('woff'),
       url('iconfont.ttf?t=1630297414328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icdoubleleft:before {
  content: "\e642";
}

.icon-icdoubleright:before {
  content: "\e643";
}

.icon-icswap:before {
  content: "\e655";
}

.icon-icshare:before {
  content: "\e65f";
}

.icon-icwand:before {
  content: "\e669";
}

.icon-gonggao:before {
  content: "\e680";
}

