<!DOCTYPE html>
<html>
<title>AnimeSearcher</title>
<body>
<h1>
    😁Hello, service is running!
</h1>

<div style="font-style: italic; margin-top: 5%; line-height: 2em">
    <span>Github:
        <a href="https://github.com/zaxtyson/AnimeSearcher"
           target="_blank">https://github.com/zaxtyson/AnimeSearcher</a>
    </span><br>
    <span>API Docs:
        <a href="https://www.apifox.cn/apidoc/project-1144664/api-24983997" target="_blank">https://www.apifox.cn/apidoc/project-1144664/api-24983997</a>
    </span><br>
    <span>Email: zaxtyson@foxmail.com</span>
</div>
</body>
</html>